<nav class="navbar">
  <div class="nav-inner">

    <a routerLink="/" class="logo">
      <span class="logo-icon">✈</span>
      Pasaje<strong>Ya</strong>
    </a>

    <div class="nav-actions">
      @if (authService.estaAutenticado()) {
        <a routerLink="/dashboard" class="btn-dashboard">Mi cuenta</a>
        <button class="btn-logout" (click)="authService.cerrarSesion()">Salir</button>
      } @else {
        <a routerLink="/auth" class="btn-login">Iniciar sesión</a>
        <a routerLink="/auth" class="btn-registro">Registrarse →</a>
      }
    </div>

  </div>
</nav>
